.login-box {
  width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.login-box h1 {
  font-size: 40px;
  border-bottom: 6px solid #000000;
  margin-bottom: 50px;
  padding: 13px 0;
}
.select-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 280px;
  display: block;
  padding: 10px 50px 10px 10px;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #000000;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  width: 80%;
  float: left;
  /*margin: 0 10px;*/
}
.btn {
  width: 100%;
  background: none;
  border: 2px solid #000000;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
