<div class="login-box">
  <h1>Login</h1>
  <form>
    <div class="textbox">
      <input id="email" [(ngModel)]="user.email" type="email" name="email" placeholder="Email">
    </div>
    <div class="textbox">
      <input id="password" [(ngModel)]="user.password" type="password" name="password" placeholder="Password">
    </div>
    <button class="btn" type="button" (click)="login(user)">Submit</button>
    <button class="btn" type="button" (click)="register(user)">Register</button>
  </form>
</div>
