<div *ngIf="nav==true">
  <h3>Your current position: </h3>
  <label>Latitude: </label> {{user.lat}}
  <label>Longitude: </label> {{user.lon}}
</div>

<h3>Search for a parking space:</h3>

<form>
  <label for="lat">Latitude</label>
  <input id="lat" [(ngModel)]="parking_spot.latitude" name="lat">

  <label for="long">Longitude</label>
  <input id="long" [(ngModel)]="parking_spot.longitude" name="long">

  <label for="radius">Radius</label>
  <input id="radius" [(ngModel)]="parking_spot.radius" name="radius">

  <button (click)="search(parking_spot)">Search</button>
</form>


<table mat-table [dataSource]="parking_spots" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="latitude">
    <th mat-header-cell *matHeaderCellDef> Latitude </th>
    <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="longitude">
    <th mat-header-cell *matHeaderCellDef> Longitude </th>
    <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="reserved">
    <th mat-header-cell *matHeaderCellDef> Reserved </th>
    <td mat-cell *matCellDef="let element"> {{element.reserved}} </td>
  </ng-container>

  <ng-container matColumnDef="reserve">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"><button *ngIf="!element.reserved" (click)="reserve(element)">Reserve</button></td>
  </ng-container>

  <ng-container matColumnDef="remove">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"><button *ngIf="element.reserved" (click)="remove_reservation(element)">Remove Reservation</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
